* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
  color: #e2ce1d;
}
.logo-container p {
  display: flex;

  font-size: 0.7em;
  color: aliceblue;
  margin-top: 80px;
}
.name {
  display: flex;
  flex-direction: column;
}

.logo-container,
.nav-links {
  display: flex;
}

.logo-container {
  flex: 1;
  display: flex;
  margin-top: 5px;
}
.logo-container {
  display: flex;
  width: 90%;
  margin: auto;
}
.logo {
  font-weight: 900;
  margin-top: 15px;
  font-size: 35px;
}
nav {
  flex: 2;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: #fdfdfd;
  font-size: 18px;
  text-decoration: none;
}
.nav-link:hover {
  opacity: 1;
  color: #e2ce1d;
  transform: scale(1.03);
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  flex: 1;
  margin-top: 80px;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #f5e8e8, #f5f2f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #cecddf;
}
.cta {
  padding: 50px 0px 0px 0px;
}
.cta-select {
  border: 2px solid #e2ce1d;
  background: transparent;
  color: #e2ce1d;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}
.cta-select:hover {
  opacity: 1;
  border: 2px solid white;
  background-color: #000;
  color: white;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.cta-add {
  background: #e2ce1d;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: rgb(0, 0, 0);
  margin: 30px 0px 0px 30px;
}

.cta-add:hover {
  opacity: 1;
  border: 2px solid white;
  background-color: #000;
  color: white;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 80vh;
}
.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 0.1s ease;
  border-radius: 5px 20px 5px;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

.hair-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/***********************************************************************/
@media screen and (max-width: 1024px) {
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    font-weight: 500;
    font-size: 55px;
    padding-top: 10px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 20px;
  }
  .intro-text p {
    font-size: 12px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .hair-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }
  .cover img {
    padding-top: 20px;
    height: 85%;
    width: auto;
  }
  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.2;
  }
  .nav-links {
    visibility: hidden;
  }
}

/******************************************************************/
.section-salons {
  padding: 0;
  margin-top: 40px;
}
.section-salons h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 45px;
  font-weight: 300;
}

.salon-showcase {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.salon-showcase li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 25%;
  background-size: cover;
}

.salon-photo {
  width: 100%;
  height: 400px;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.salon-photo img {
  opacity: 0.7;
  width: 100%;
  height: 300px;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.salon-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
/******************************************************************/
/******************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #ffffff;
  --red: #fffb00ee;
  --bodyColor: #050505;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  colors: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 white;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

body {
  font: 18px/1.5 "Open Sans", sans-serif;
  background: var(--bodyColor);
  color: white;
  margin: 1.5rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
  .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
}
/**********************************************/
.container {
  width: 100%;
  margin: 30px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.card {
  width: 25%;

  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 10px 10px;
  background: linear-gradient(to right, #fffb04, #fffb2b);
  color: rgb(0, 0, 0);
}

.card-body {
  padding: 20px 20px;
  text-align: center;
  font-size: 16px;
}
.card-body p {
  color: black;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #2c8ddb, #3a91d8);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}
